In [4]:
import pandas as pd
import kagglehub

In [7]:
path = kagglehub.dataset_download("ahmedmohamed2003/cafe-sales-dirty-data-for-cleaning-training")
org_data = pd.read_csv('/home/joshua/.cache/kagglehub/datasets/ahmedmohamed2003/cafe-sales-dirty-data-for-cleaning-training/versions/1/dirty_cafe_sales.csv')

In [135]:
clean_data = org_data.drop_duplicates()

In [144]:
clean_data.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [136]:
clean_data['Quantity'] = pd.to_numeric(clean_data['Quantity'], errors='coerce')
clean_data['Price Per Unit'] = pd.to_numeric(clean_data['Price Per Unit'], errors='coerce')
clean_data['Total Spent'] = pd.to_numeric(clean_data['Total Spent'], errors='coerce')

In [139]:
for index, row in clean_data.iterrows(): 
    quantity = row['Quantity']
    price_per_unit = row['Price Per Unit']
    total_spent = row['Total Spent']

    if pd.isna(quantity) and pd.notna(price_per_unit) and pd.notna(total_spent): 
        clean_data.at[index, 'Quantity'] = total_spent / price_per_unit
    elif pd.isna(price_per_unit) and pd.notna(quantity) and pd.notna(total_spent): 
        clean_data.at[index, 'Price Per Unit'] = total_spent / quantity
    elif pd.isna(total_spent) and pd.notna(quantity) and pd.notna(price_per_unit): 
        clean_data.at[index, 'Total Spent'] = quantity * price_per_unit

clean_data['Quantity'] = clean_data['Quantity'].fillna(0)
clean_data['Price Per Unit'] = clean_data['Price Per Unit'].fillna(0)
clean_data['Total Spent'] = clean_data['Total Spent'].fillna(0)

In [138]:
clean_data.loc[clean_data['Price Per Unit']==1.5, 'Item'] = 'Tea'
clean_data.loc[clean_data['Price Per Unit']==2, 'Item'] = 'Coffee'
clean_data.loc[clean_data['Price Per Unit']==1, 'Item'] = 'Cookie'
clean_data.loc[clean_data['Price Per Unit']==5, 'Item'] = 'Salad'

clean_data.loc[clean_data['Item']=='Tea', 'Price Per Unit'] = 1.5
clean_data.loc[clean_data['Item']=='Coffee', 'Price Per Unit'] = 2
clean_data.loc[clean_data['Item']=='Cookie', 'Price Per Unit'] = 1
clean_data.loc[clean_data['Item']=='Salad', 'Price Per Unit'] = 5

In [ ]:
clean_data['Item'].replace(['UNKNOWN', 'ERROR'], pd.NA, inplace=True)

In [143]:
o1 = (org_data['Item'] == 'UNKNOWN').sum()
o2 = (org_data['Item'] == 'ERROR').sum()
o3 = org_data['Item'].isna().sum()

c1 = clean_data['Item'].isna().sum()

print(f"Original Item NA :{(o1+o2+o3)}")
print(f"Clean Item NA :{c1}")

Original Item NA :969
Clean Item NA :176