In [4]:
import pandas as pd
import kagglehub

In [7]:
path = kagglehub.dataset_download("ahmedmohamed2003/cafe-sales-dirty-data-for-cleaning-training")
org_data = pd.read_csv('/home/joshua/.cache/kagglehub/datasets/ahmedmohamed2003/cafe-sales-dirty-data-for-cleaning-training/versions/1/dirty_cafe_sales.csv')

In [ ]:
clean_data = org_data.drop_duplicates()

In [51]:
clean_data.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [43]:
clean_data['Quantity'] = pd.to_numeric(clean_data['Quantity'], errors='coerce')
clean_data['Price Per Unit'] = pd.to_numeric(clean_data['Price Per Unit'], errors='coerce')
clean_data['Total Spent'] = pd.to_numeric(clean_data['Total Spent'], errors='coerce')

In [63]:
for index, row in clean_data.iterrows(): 
    quantity = row['Quantity']
    price_per_unit = row['Price Per Unit']
    total_spent = row['Total Spent']

    if pd.isna(quantity) and pd.notna(price_per_unit) and pd.notna(total_spent): 
        clean_data.at[index, 'Quantity'] = total_spent / price_per_unit
    elif pd.isna(price_per_unit) and pd.notna(quantity) and pd.notna(total_spent): 
        clean_data.at[index, 'Price Per Unit'] = total_spent / quantity
    elif pd.isna(total_spent) and pd.notna(quantity) and pd.notna(price_per_unit): 
        clean_data.at[index, 'Total Spent'] = quantity * price_per_unit

clean_data['Quantity'] = clean_data['Quantity'].fillna(0)
clean_data['Price Per Unit'] = clean_data['Price Per Unit'].fillna(0)
clean_data['Total Spent'] = clean_data['Total Spent'].fillna(0)

In [65]:
pd.unique(clean_data['Transaction Date'])

array(['2023-09-08', '2023-05-16', '2023-07-19', '2023-04-27',
       '2023-06-11', '2023-03-31', '2023-10-06', '2023-10-28',
       '2023-07-28', '2023-12-31', '2023-11-07', 'ERROR', '2023-05-03',
       '2023-06-01', '2023-03-21', '2023-11-15', '2023-06-10',
       '2023-02-24', '2023-03-25', '2023-01-15', '2023-04-04',
       '2023-03-30', '2023-12-01', '2023-09-18', '2023-06-03',
       '2023-12-13', '2023-04-20', '2023-04-10', '2023-03-11',
       '2023-06-02', '2023-11-06', '2023-08-15', '2023-10-09',
       '2023-05-28', '2023-07-17', '2023-04-29', '2023-06-08',
       '2023-06-29', '2023-04-17', '2023-12-22', '2023-01-10',
       '2023-10-02', '2023-02-23', '2023-03-22', '2023-11-03',
       '2023-03-02', '2023-06-26', '2023-05-02', '2023-09-05',
       '2023-01-08', '2023-03-15', '2023-11-25', '2023-12-05',
       '2023-03-19', '2023-06-27', '2023-04-19', '2023-10-07',
       '2023-09-30', '2023-05-27', '2023-11-18', '2023-10-20',
       '2023-10-03', '2023-10-27', '2023-04-06', '2023-01-31',
       '2023-12-08', '2023-06-19', '2023-12-14', '2023-07-16',
       '2023-02-22', nan, '2023-06-15', '2023-12-09', '2023-04-18',
       '2023-10-29', '2023-04-30', '2023-04-02', '2023-05-24',
       '2023-03-12', '2023-08-16', '2023-09-10', '2023-03-07',
       '2023-08-07', '2023-08-20', '2023-04-15', '2023-07-25',
       '2023-10-30', '2023-12-15', '2023-02-25', '2023-04-03',
       '2023-10-08', '2023-12-28', '2023-08-30', '2023-02-03',
       '2023-09-12', '2023-05-04', '2023-02-21', 'UNKNOWN', '2023-03-16',
       '2023-02-06', '2023-03-29', '2023-06-18', '2023-09-23',
       '2023-01-14', '2023-09-14', '2023-09-16', '2023-04-08',
       '2023-12-19', '2023-07-14', '2023-12-12', '2023-01-05',
       '2023-01-23', '2023-02-20', '2023-12-06', '2023-05-31',
       '2023-08-11', '2023-09-03', '2023-07-11', '2023-06-06',
       '2023-01-18', '2023-03-23', '2023-01-04', '2023-06-23',
       '2023-08-03', '2023-07-12', '2023-11-02', '2023-07-31',
       '2023-09-19', '2023-02-09', '2023-09-04', '2023-05-21',
       '2023-07-02', '2023-07-10', '2023-11-21', '2023-12-02',
       '2023-03-13', '2023-08-12', '2023-02-16', '2023-04-11',
       '2023-03-26', '2023-11-01', '2023-07-22', '2023-07-26',
       '2023-02-28', '2023-01-27', '2023-01-19', '2023-04-07',
       '2023-03-20', '2023-12-27', '2023-10-26', '2023-02-18',
       '2023-05-15', '2023-12-10', '2023-04-21', '2023-02-04',
       '2023-11-12', '2023-08-05', '2023-05-10', '2023-07-15',
       '2023-01-11', '2023-10-01', '2023-04-26', '2023-08-25',
       '2023-03-01', '2023-11-13', '2023-07-09', '2023-05-13',
       '2023-05-18', '2023-01-17', '2023-09-22', '2023-08-22',
       '2023-07-27', '2023-12-30', '2023-12-21', '2023-09-28',
       '2023-11-16', '2023-04-14', '2023-01-03', '2023-01-12',
       '2023-08-31', '2023-07-07', '2023-09-15', '2023-10-21',
       '2023-09-02', '2023-08-19', '2023-01-06', '2023-10-13',
       '2023-05-29', '2023-05-22', '2023-11-23', '2023-10-15',
       '2023-11-14', '2023-11-26', '2023-12-17', '2023-05-09',
       '2023-10-22', '2023-06-30', '2023-04-25', '2023-02-19',
       '2023-12-11', '2023-10-12', '2023-07-04', '2023-01-28',
       '2023-10-04', '2023-02-26', '2023-10-11', '2023-02-14',
       '2023-04-28', '2023-09-06', '2023-04-23', '2023-01-22',
       '2023-03-10', '2023-01-09', '2023-12-03', '2023-08-06',
       '2023-12-29', '2023-02-15', '2023-05-25', '2023-10-31',
       '2023-02-27', '2023-03-03', '2023-09-27', '2023-08-18',
       '2023-12-16', '2023-06-07', '2023-05-12', '2023-07-06',
       '2023-06-20', '2023-08-09', '2023-05-14', '2023-07-18',
       '2023-10-10', '2023-02-02', '2023-08-14', '2023-09-26',
       '2023-01-13', '2023-10-16', '2023-11-17', '2023-12-20',
       '2023-12-04', '2023-02-08', '2023-09-11', '2023-02-01',
       '2023-02-12', '2023-03-14', '2023-09-29', '2023-04-22',
       '2023-06-13', '2023-12-24', '2023-03-28', '2023-03-06',
       '2023-02-11', '2023-01-30', '2023-04-09', '2023-04-16',
       '2023-12-23', '2023-03-05', '2023-03-24', '2023-07-23',
       '2023-07-29', '2023-06-05', '2023-10-19', '2023-01-07',
       '2023-11-29', '2023-07-05', '2023-07-20', '2023-05-07',
       '2023-08-10', '2023-10-24', '2023-08-13', '2023-08-28',
       '2023-06-21', '2023-11-10', '2023-10-18', '2023-05-19',
       '2023-11-09', '2023-06-24', '2023-05-11', '2023-12-07',
       '2023-09-01', '2023-09-25', '2023-06-22', '2023-05-30',
       '2023-04-24', '2023-09-20', '2023-02-07', '2023-05-05',
       '2023-02-10', '2023-11-24', '2023-10-25', '2023-10-05',
       '2023-07-21', '2023-07-08', '2023-03-17', '2023-10-14',
       '2023-06-28', '2023-09-09', '2023-08-21', '2023-07-01',
       '2023-06-14', '2023-03-09', '2023-11-08', '2023-12-26',
       '2023-09-13', '2023-05-23', '2023-08-24', '2023-04-01',
       '2023-06-09', '2023-08-23', '2023-08-08', '2023-08-27',
       '2023-05-26', '2023-06-16', '2023-12-25', '2023-01-25',
       '2023-10-23', '2023-05-06', '2023-01-29', '2023-08-29',
       '2023-01-01', '2023-07-24', '2023-04-12', '2023-12-18',
       '2023-09-21', '2023-05-01', '2023-02-05', '2023-01-24',
       '2023-01-02', '2023-06-12', '2023-01-16', '2023-10-17',
       '2023-03-04', '2023-06-17', '2023-03-18', '2023-08-26',
       '2023-05-17', '2023-11-22', '2023-08-17', '2023-11-19',
       '2023-11-27', '2023-06-04', '2023-09-17', '2023-11-04',
       '2023-11-28', '2023-06-25', '2023-04-13', '2023-01-26',
       '2023-08-04', '2023-05-08', '2023-11-20', '2023-07-13',
       '2023-09-24', '2023-01-21', '2023-03-08', '2023-09-07',
       '2023-11-30', '2023-08-02', '2023-04-05', '2023-08-01',
       '2023-01-20', '2023-11-11', '2023-02-13', '2023-07-30',
       '2023-02-17', '2023-05-20', '2023-11-05', '2023-03-27',
       '2023-07-03'], dtype=object)